<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head'), {title:'detalle'} %>

<body class="detail">
   
    <%- include('../partials/header')%>

    <main>
    </main>
    <%- include('..partials/footer') %>
</body>

</html>