<!DOCTYPE html>
<html lang="ES">

<%- include('./partials/head'), {title:'contact'} %>

<body class="contact">
   
    <%- include('./partials/header')%>

    <main>
    </main>
    <%- include('.partials/footer') %>
</body>

</html>